name: test

on: [pull_request]

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode_12.0.app/Contents/Developer
    - name: Run xcodebuild
      run: ./scripts/build-for-test.sh
  test:
    needs: build
    env:
      os: 14.0
    strategy:
      matrix:
        device: [iPhone 11, iPhone 11 Pro, iPhone 11 Pro Max, iPhone 8, iPhone 8 Plus, iPhone SE (2nd generation)]
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode_12.0.app/Contents/Developer
    - name: Run xcodebuild test 
      run: xcodebuild test-without-building -workspace SpreadsheetView.xcworkspace -scheme SpreadsheetView -sdk iphonesimulator -configuration Release -derivedDataPath build -destination 'name={{ matrix.device }},OS={{ env.os }}' -enableCodeCoverage YES CONFIGURATION_TEMP_DIR=build/temp -
    - if: matrix.device == 'iPhone 11'
      name: Upload to codecov
      run: |
       ./cordov.rb
       bash <(curl -s https://codecov.io/bash) -f 'coverage.txt'
